body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #0b0b0b;
    color: white;
}


header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background: #000;
}

header h1 {
    color: #00ff99;
}

nav a {
    color: white;
    margin-left: 20px;
    text-decoration: none;
}


.hero {
    text-align: center;
    padding: 60px 20px;
}

.hero h2 {
    color: #00ff99;
    font-size: 32px;
}


.skills {
    padding: 40px;
    text-align: center;
}

.card-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.card {
    background: #111;
    padding: 20px;
    border-radius: 10px;
    width: 250px;
    border: 1px solid #00ff99;
    transition: 0.3s;
}

.card:hover {
    transform: scale(1.05);
}


footer {
    text-align: center;
    padding: 20px;
    background: #000;
    margin-top: 20px;
}  
.profile img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 3px solid #00ff99;
    object-fit: cover;
    margin-bottom: 20px;
}


.profile {
    display: flex;
    justify-content: center;
}

.contact {
    text-align: center;
    padding: 40px;
}

.contact h2 {
    color: #00ff99;
}

.social-links {
    margin-top: 20px;
}

.social-links a {
    display: inline-block;
    margin: 10px;
    padding: 10px 20px;
    border: 1px solid #00ff99;
    border-radius: 5px;
    text-decoration: none;
    color: white;
    transition: 0.3s;
}

.social-links a:hover {
    background: #00ff99;
    color: black;
}
